<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
<head>
    <title>Springboot</title>
</head>
<body>
<div layout:fragment="sidebar">
    <div th:replace="~{layouts/sidebar :: sidebar ('user', 'user')}"></div>
</div>
<div layout:fragment="content">
    <h1 th:text="マイページ（仮）"></h1>
    <div th:object="${user}">
        <p th:text="*{id}"></p>
        <p th:text="*{name}"></p>
    </div>
    <!--タスクの一覧を表示する-->
    <div class="container-fluid">
        <a href="/new" th:href="@{/task/find}" type="button">タスク</a>
    </div>


    <a class="btn btn-primary" href="/new" th:href="@{/newUser}" role="button">新規登録</a>
</div>
</body>
</html>