<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
<head>
    <title>Springboot</title>
</head>
<body>
<div layout:fragment="sidebar">
    <div th:replace="~{layouts/sidebar :: sidebar ('user', 'user')}"></div>
</div>
<div layout:fragment="content">
    <p th:text="'Hello, ' + ${loginID}"></p>
    <p>"/"にパスが設定されているからだよん</p>
</div>

</body>
</html>